<div class="card mt-5 position-fixed">
    <div class="card-body">
        <div class="row">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-append">
                    <button class="btn btn-success" type="submit"><i class="fas fa-search"></i> Search</button>
                </div>
            </div>
        </div>
        
        <img src="~/images/filter/veg_1.png" class="border border-primary rounded-circle img-fluid" height="50" width="50" />

        <img src="~/images/filter/cloth_1.png" class="border border-primary rounded-circle img-fluid m-4" height="50" width="50" />
        <img src="~/images/filter/fish_1.png" class="border border-primary rounded-circle img-fluid m-4" height="50" width="50" />
        

    </div>
</div>
