@{
    ViewBag.Title = "Home Page";
}

@* Welcome *@
<div id="section1" class="container">
    <div class="row W1" id="no-wrap">
        <div class="col-md-8 col-sm-10" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" id="slider-pagin">
            <p>Welcome to</p>
            <p style="text-align: right">Street Vendors</p>
        </div>
        <div class="col-md-4 col-sm-2" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500" id="slider-pagin">
            <img src="~/images/Logo.png" class="img-fluid" />
        </div>
    </div>

    <div class="row W2" id="no-wrap">
        <div class="col-md-6" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000" id="slider-pagin">
            <p>An online platform</p><br />
            <p style="text-align: right">for street vendors.</p>
        </div>
        <div class="col-md-6" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000" id="slider-pagin">
            <img src="~/images/imW1.jpg" class="img-fluid" />
        </div>
    </div>

    <div class="row W3" id="no-wrap">
        <div class="col-md-6" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000" id="slider-pagin">
            <img src="~/images/imW2.jpg" class="img-fluid" />
        </div>
        <div class="col-md-6" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000" id="slider-pagin">
            <p class="ml-5">Show your product</p>
            <p style="text-align: right">& earn more.</p>
        </div>
    </div>

    <div class="row W4" id="no-wrap">
        <div class="col-md-6" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000" id="slider-pagin">
            <p>Find buyers &</p>
            <p style="text-align: right">work less.</p>
        </div>
        <div class="col-md-6" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000" id="slider-pagin">
            <img src="~/images/imW3.jpg" class="img-fluid" />
        </div>
    </div>
</div>

@* Our team *@

<div id="section2" class="container-fluid">
    <div class="text-center jumbotron">
        <h1>Our Team</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <img class="rounded mx-auto d-block" src="~/images/tuser.jpg" width="400" height="350" />
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <blockquote class="blockquote">
                    <h3>Mohammad Najrul Islam</h3>
                    <footer class="blockquote-footer"><h5>3rd year 2nd semester</h5></footer>
                </blockquote>
            </div>
        </div>

        <div class="col-md-4">
            <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <img class="rounded mx-auto d-block" src="~/images/rahat.jpg" width="400" height="350" />
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <blockquote class="blockquote">
                    <h3>Rahat kader khan</h3>
                    <footer class="blockquote-footer"><h5>3rd year 2nd semester</h5></footer>
                </blockquote>
            </div>
        </div>

        <div class="col-md-4">
            <div data-aos="fade-down" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <img class="rounded mx-auto d-block" src="~/images/shweta.jpg" width="400" height="350" />
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="1000">
                <blockquote class="blockquote">
                    <h3>Shweta Bhattacharjee</h3>
                    <footer class="blockquote-footer"><h5>3rd year 2nd semester</h5></footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>

@* Contact Us *@

<div class="row p-5" id="section3">

    @* Useful Links *@
    <div class="col-md-4 pl-sm-5 ">
        <h1>Useful Links</h1>
        <hr />


        @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "h4  btn-link wlink" })
        <br />
        @Html.ActionLink("About Us", "Index", "Home", new { area = "" }, new { @class = "h4 btn-link wlink" })
    </div>

    @* Contact Us *@
    <div class="col-md-6  ">

        <h1>Contact Us</h1>
        <hr />
        <div class="row">
            <div class="col-4">
                <h4>Telephone:</h4>
            </div>
            <div class="col-6">
                <h4>+08801-xxxxxxxxx</h4>
                <h4>+08801-xxxxxxxxx</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h4>Email:</h4>
            </div>
            <div class="col-6">
                <h4>stvendors@gmail.com</h4>
                <h4>stvendors@yahoo.com</h4>
            </div>
        </div>
    </div>

    @* Find Us *@
    <div class="col-md-2">
        <h1>Find Us</h1>
        <hr />

        <a href="https://www.facebook.com/"><i class='fa fa-facebook-square'></i></a>
        <br />
        <a href="https://twitter.com/"><i class='fa fa-twitter-square'></i></a>


    </div>
</div>